.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
  margin-top: 64px;
  background-color: #f7f7f7;
}

.main .main_content {
  background-color: #008000;
}
.body {
  flex: 1;
}

.footer {
  width: 100%;
  background-color: rgb(133, 133, 133);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}
