<div class="home">
  <div class="left">
    <h1>Welcome to the All in one application</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quis nisi
      recusandae culpa. Nihil neque nobis, tempora totam excepturi maiores, hic
      provident omnis, aspernatur magnam pariatur libero suscipit laborum nam?
    </p>
    <a class="btn btn-primary" href="">Start app</a>
  </div>
  <div class="right">
    <img class="img-fluid w-5" src="../../assets/computer-01.svg" alt="" />
  </div>
</div>
